<% layout("/layouts/boilerplate") %>

<div class="LandingPageContainerr container mt-3">
    <div class="landingMainContainer row ms-auto">

        <div class="col-12 col-lg-6 text-white p-3 p-md-5">
            <div class="text text-center text-lg-start">
                <h1 class="fw-4"><span>Connect</span> with your love one</h1>
                <p class="text-white">Cover a distance by aapna video call</p>
                <form action="/apnavideo/link" method="GET">
                    <button class="btn btn-danger p-3" style="width:8rem">Get started</button>
                </form>
            </div>
        </div>

        <div class="col-12 col-lg-6 p-3 p-md-5 d-flex justify-content-center align-items-center">
            <img src="media/mobile.png" alt="Mobile phone illustration" class="img-fluid" style="max-height: 400px;">
        </div>
    </div>
</div>
