<% layout("/layouts/boilerplate") %>


    <div class="LandingPageContainerr container mt-3">
       


         <div class="landingMainContainer row ms-auto ">
            <div class="col-6 text-white p-5">
                <div class="text">
                <h1 class="fw-4"><span >Connect</span> with  your love one</h1>
                <p class="text-white">Cover a distance by aapna video call</p>
                <form action="/apnavideo/link" method="GET" >
                   
                    <Button class="btn btn-danger p-3  " style="width:8rem">Get started</Button>
               
                </form>
            </div>
                
            </div>
              
            <div  class="col-6 p-5 ">

                <img src="media/mobile.png" alt="Mobile phone illustration " class="ms-4 ">
            </div>

        </div>
      
    </div>
  