 
 <% layout("/layouts/boilerplate") %>
 
 
 
 
         


        <div class="container  " >
          <div class="row justify-content-center mt-5">
        <div class="col-md-6 text-center mt-5">
            <h1 class="my-4 text-white">Providing Quality Video Call Just Like Quality Education</h1>
            <form action="/apnavideo/loby" method="GET">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Meeting Code" aria-label="Meeting Code" name="meetingCode">
        <button class="btn btn-primary" type="submit">JOIN</button>
    </div>
</form>
                
        </div>
    </div>
</div>
      


        </div>
</div>