 
 <% layout("/layouts/boilerplate") %>
 
 
 
 <div class="LandingPageContainer">
         <nav>
            <div class="navHeader">
                <h2> Apna Video Conferencing </h2>
            </div>
            <div class="navList">
                <p>join as guest</p>
                <p>Register</p>
                <div role="button">
                    <p>Login</p>    

                </div>

            </div>
        </nav> 


        <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1 class="my-4">Providing Quality Video Call Just Like Quality Education</h1>
            <form action="/apnavideo/loby" method="GET">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Meeting Code" aria-label="Meeting Code" name="meetingCode">
        <button class="btn btn-primary" type="submit">JOIN</button>
    </div>
</form>
                
        </div>
    </div>
</div>
      


        </div>
</div>